.portfolio-header {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85px;
  background-color: rgba(#000, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.2s;

  @include tablet {
    height: 60px;
  }

  &.is-scroll {
    overflow: hidden;
    height: 0;
    background-color: transparent;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    transition: all 0.2s 0.15s;
  }

  &.is-color {
    background-color: rgba(#000, 0.1);

    .logo > a,
    .gnb-link {
      color: rgba(#000, 0.8) !important;
    }

    .hd-btn {
      .hd-line {
        background-color: color(bk);

        &::before,
        &::after {
          background-color: color(bk);
        }
      }
    }
  }

  .hd-center {
    width: 100%;
    height: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 0 40px;

    @include tablet {
      padding: 0 20px 0 30px;
    }

    .hd-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  .logo {
    &.is-active {
      a {
        color: color(bk);
      }
    }

    > a {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 20px;
      color: color(wh);

      @include tablet {
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }

  .gnb-nav {
    .gnb-menu {
      display: flex;
      justify-content: flex-start;
      gap: 60px;

      .gnb-link {
        font-family: "Montserrat";
        font-weight: 600;
        font-size: 20px;
        color: color(wh);
      }
    }
  }

  // gnb-nav-mo
  .gnb-nav-mo {
    @include full;

    overflow: hidden;
    z-index: 3;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    transition: all 0.35s cubic-bezier(0.42, 0, 0.23, 1.05);

    &.is-active {
      z-index: -1;
      top: calc(100% - 60px);
      height: 100vh;
      background-color: color(wh);
      transition: all 0.35s cubic-bezier(0.42, 0, 0.18, 1);

      .gnb-mo {
        opacity: 1;
      }

      + .hd-btn {
        .hd-line {
          background-color: color(bk);

          &::before,
          &::after {
            background-color: color(bk);
          }
        }
      }
    }

    .gnb-mo {
      opacity: 0;
      position: absolute;
      top: calc(50% - 60px);
      left: 50%;
      text-align: center;
      transform: translate(-50%, -10%);

      .gnb-list-mo {
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      a {
        font-size: 28px;
        font-weight: 600;
        color: color(bk);
      }
    }
  }

  .hd-btn {
    width: 46px;
    height: 40px;

    &.is-active {
      .logo > a {
        color: color(bk);
      }
      .hd-line {
        background-color: color(bk);
      }
    }
  }

  .hd-line-grp {
    display: inline-block;
    position: relative;
    width: 26px;
    height: 20px;
  }

  .hd-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: color(wh);
    background-size: 500% 500%;
    animation: gradient_active_bg 3s ease infinite;
    border-radius: 1.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    @include make-before {
      top: -7px;
    }

    @include make-after {
      bottom: -8px;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1.5px;
      position: absolute;
      background-color: color(wh);
      transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        top 0.1s 0.25s ease-in, bottom 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }
  }

  .is-active .hd-line {
    margin-top: -3px;
    background-color: color(wh);
    background-size: 500% 500%;
    animation: gradient_active_bg 3s ease infinite;
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .is-active .hd-line::before {
    background-color: color(bk);
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }

  .is-active .hd-line::after {
    background-color: color(bk);
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out,
      transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
